<template>
    <form>
        <div class="stack-small" @submit.prevent="onSubmit">
            <label class="edit-label">Edit name for &quot;{{label}}&quot; </label>
            <input :id="id" type="text" autocomplete="off" v-model.lazy.trim="newLabel"/>
        </div>
        <div class="btn-group">
            <button type="button" class="btn" @click="onCancel">
                Cancel
                <span class="visually-hidden">editing {{label}}</span>
            </button>
            <button type="submit" class="btn btn__primary" @click.prevent="onSubmit">
                Save
                <span class="visually-hidden">edit for {{label}}</span>  
            </button>
        </div>
    </form>
</template>

<script>
export default {
    props: {
        label: {
            type: String,
            required: true
        },
        id: {
            type: String,
            required: true
        },
    },
    data() {
        return {
            newLabel: this.label
        };
    },
    methods: {
        onSubmit() {
            if(this.newLabel && this.newLabel !== this.label){
                this.$emit("item-edited", this.newLabel)
            }
        },
        onCancel(){
            this.$emit("edit-canceled");
        }
    }
    
}
</script>
<style scoped>
.edit-label{
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0b0c0c;
    display:block;
    margin-bottom: 5px;
}
imput {
    display: inline-block;
    margin-top: 4rem;
    width: 100%;
    min-height: 4.4rem;
    padding: 0.4rem 0.8rem;
    border: 2px solid #565656;
}
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
form > * {
    flex: 0 0 100%;
}
</style>