<template>
  <div id="app">
    <h1>To-Do List</h1>
    <button v-on:click="foo = 'hehehaha'">click me</button>
    <to-do-form @todo-added="addToDo"></to-do-form>
    <h2 id="list-summary">{{listSummary}}</h2>
    <ul aria-labelledby="list-summary" class="stack-large">
      <li v-for="item in ToDoItems" :key="item.id">
        <to-do-item :label="item.label" :done="item.done" :id="item.id" @checkbox-changed="updateDoneStatus(item.id)"
        @item-deleted="deleteToDo(item.id)"
        @item-edited="editToDo(item.id,$event)"
        ></to-do-item>
      </li>
    </ul>

  </div>
</template>

<script>
import ToDoItem from './components/ToDoItem.vue'
import ToDoForm from './components/ToDoForm.vue'
import uniqueID from 'lodash.uniqueid'

export default {
  name: 'app',
  components: {
    ToDoItem,
    ToDoForm
  },
  data() {
    return {
      foo: "oioioi",
      ToDoItems: [
        {id: "ssssssss", label: "Learn Vue", done: false}
      ]
    }
  },
  methods: {
    addToDo(todoLabel) {
      this.ToDoItems.push({id: uniqueID('todo-'), label: todoLabel, done: false})
      console.log(todoLabel)
    },
    updateDoneStatus(todoId) {
      const toDoToUpdate = this.ToDoItems.find(item => item.id === todoId)
      toDoToUpdate.done = !toDoToUpdate.done
    },
    deleteToDo() {

    },
    editToDo(todoId, newLabel) {
      const toDoEdit = this.ToDoItems.find(item => item.id === todoId);
      toDoEdit.label = newLabel;
    }
  },
  computed: {
    listSummary() {
      const numberFinishedItems = this.ToDoItems.filter(item => item.done).length
      return `${numberFinishedItems} out of ${this.ToDoItems.length} items completed`
    }
  }
}
</script>

<style>
/* Global styles */
.btn {
    padding: 0.8rem 1rem 0.7rem;
    border: 0.2rem solid #4d4d4d;
    cursor: pointer;
    text-transform: capitalize;
}
.btn__danger {
  color: #fff;
  background-color: #ca3c3c;
  border-color: #bd2130;
}
.btn__filter {
  border-color: lightgray;
}
.btn__danger:focus {
  outline-color: #c82333;
}
.btn__primary {
  color: #fff;
  background-color: #000;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}
.btn-group > * {
  flex: 1 1 auto;
}
.btn-group > * + * {
  margin-left: 0.8rem;
}
.label-wrapper {
  margin: left;
  flex: 0 0 100%;
  text-align: center;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 620px){
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}
.visualy-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip:rect(1px 1px 1px 1px);
  clip:rect(1px, 1px, 1px, 1px);
  clip-path:rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
[class*="stack"] > * { 
  margin-top: 0;
  margin-bottom: 0;
}
.stack-small > * + * {
  margin-top: 1.25rem;
}
.stack-large > * + * {
  margin-top: 2.5rem;
}
@media screen and (min-width: 550px) {
  .stack-small > * + * {
    margin-top: 1.4rem;
  } 
  .stack-large > * + * {
    margin-top: 2.8rem;
  }
}
/* End Global styles */

#app {
  background: #fff;
  margin: 2rem 0 4rem 0;
  padding: 1rem;
  padding-top: 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 550px) {
  #app {
    padding: 4rem;
  }
}
#app > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
#app > form {
  max-width: 100%;
}
#app h1 {
  display: block;
  min-width: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
</style>
